  * {
    margin:auto;
  }
  body {
    background-color: rgb(46, 46, 94);
  }
  
  .nav-flex-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    text-align: center;
    font-family: Helvetica, sans-serif;
  }
  .nav-flex-box > a {
    margin:2%;
    text-align: center;
  }
  
  #guild-name {
    float: left;
    margin-right:auto;
  }


  .dropdown-menu {
    position: relative;
    display: inline-block;
  }

  .nav-flex-box a {
    text-decoration: none;
    color:aliceblue;
  }

  .dropdown-menu-content {
    position: absolute;
    display: none;
    min-width: 100%;
    padding: 10px, 15px;
    z-index: 1;
    box-shadow: 0px, 5px, 10px, 0px, rgba(0,0,0,.3); 
    overflow: auto;
    background-color: rgb(82, 82, 167);
  }
  
  .dropdown-menu:hover .dropdown-menu-content {
    display: block;
  }

  .dropdown-menu-content:hover a:hover {
    background-color: blue;
  }
  
  .nav-has-scrolled {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    position: sticky;
    text-align: center;
    font-family: Helvetica, sans-serif;
    background-color:black;
  }
