@font-face {
  font-family: 'MinecraftRegular';
  src: url("../fonts/MinecraftRegular-Bmg3.otf");
}

body {
  background-color: #34495e;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 50px;
  border: 1px solid white;
}

th {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  font-size: 120%;
  background-color: #2ecc71;
  color: #fff;
  font-family: 'MinecraftRegular', sans-serif;
  cursor: pointer;
}

td {
  padding: 8px;
  text-align: left;
  border: 1px solid white;
  border-bottom: 1px dotted lightgray;
  font-family: 'MinecraftRegular', sans-serif;
  font-size: 90%;
}

th.sort-header:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

th.sort-header.asc:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-bottom: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

th.sort-header.desc:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
