<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <title>GEXP Graph</title>
  </head>
  <body>
    <nav class="nav-flex-box" id="nav" class="navbar">
        <a id="guild-name" href="#">Proud Circle</a>
        <a href="#">News</a>
          <div class="dropdown-menu">
          <a >Leaderboards</a>
            <div class="dropdown-menu-content">
                <a href="#">Daily</a><br>
                <a href="#">Weekly</a><br>
                <a href="#">Monthly</a><br>
                <a href="#">Yearly</a><br>
                <a href="#">Lifetime</a><br>
            </div>
          </div>
        <a href="#">GEXP</a>
        <a href="#">More</a>
    </nav>
      <h1>GEXP Graph</h1>

      <script type="text/javascript" src="{{ url_for('static', filename='scripts/index_form.js') }}"></script>
      <form action="{{ url_for('query_database') }}" method="post">

        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required onchange="checkDate()">

        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" required onchange="checkDate()">

        <label for="player_name">Player Name:</label>
        <input
          type="text"
          id="player_name"
          name="player_name"
          pattern="[A-Za-z0-9_]+"
          maxlength="16"
          minlength="3"
          required
        />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
