<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/nav.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}">
    <title>GEXP Graph</title>
  </head>
  <body>
    <nav class="navbar">
      <a href="/" class="navbar-logo">Proud Circle</a>
      <ul class="navbar-menu">
        <li class="navbar-menu-item"><a href="#">News</a></li>
        <li class="navbar-menu-item has-dropdown">
          <a href="#">Leaderboards</a>
          <ul class="dropdown">
            <li><a href="#">GEXP</a></li>
            <li class="has-dropdown">
              <a href="#">More</a>
              <ul class="dropdown">
                <li><a href="#">Daily</a></li>
                <li><a href="#">Weekly</a></li>
                <li><a href="#">Monthly</a></li>
                <li><a href="#">Yearly</a></li>
                <li><a href="#">Lifetime</a></li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="navbar-menu-item"><a href="#">Player Stats</a></li>
      </ul>
    </nav>
    <div class="container">
      <h1>GEXP Graph</h1>

      <script type="text/javascript" src="{{ url_for('static', filename='scripts/index_form.js') }}"></script>
      <form action="{{ url_for('query_database') }}" method="post">

        <label for="start_date">Start Date:</label>
        <input type="date" id="start_date" name="start_date" required onchange="checkDate()">

        <label for="end_date">End Date:</label>
        <input type="date" id="end_date" name="end_date" required onchange="checkDate()">

        <label for="player_name">Player Name:</label>
        <input
          type="text"
          id="player_name"
          name="player_name"
          pattern="[A-Za-z0-9_]+"
          maxlength="16"
          minlength="3"
          required
        />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
