<%= stylesheet_link_tag 'news' %>
<%= javascript_include_tag 'show_calendar' %>

<h1>News</h1>

<div class="news-entry">
  <h2 class="news-title">Gatro is back!</h2>
  <p class="news-author">by itzilly</p>
  <div class="news-content">
    <p class="indented">Our guild master is back! Gatro was banned on <span class="news-date" data-date="2023-02-27">February 27th</span> for a "Extreme Chat Infraction". Since his unban, he's been on the server grinding away at skyblock for some silly reason. But he's back!"</p>
  </div>
  <p class="news-date">March 31, 2023</p>
</div>
